.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
html,body {font-size: 14px;}
.normal {font-size: 18px;}
a:hover,.dropdown-item:hover{color: #800000;}
a {color: #000; font-weight: 700;}
.none {text-decoration: none;}
.nav-link-maroon-hover {
  position: relative;
  text-decoration: none;
  padding-bottom: 5px; 
}
.iconic {font-size: 20px;}
.borderio:hover {
	border: solid 0.025rem #800000;
	border-radius: 6px;
}
.icon-svg {
    width: 1.25em;
    height: 1.25em;
    vertical-align: -0.125em;
    fill: currentColor;
}
.fa-lg.icon-svg {
    width: 1.33333333em;
    height: 1.33333333em;
}
.fa-2x.icon-svg {
    width: 2em;
    height: 2em;
}
.none {text-decoration: none;}
.profile-container {
    overflow: hidden; 
    position: relative;
    width: 100px;
    height: 100px;
}
.nav-link-maroon-hover::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0; 
  width: 0; 
  height: 2px;
  background-color: #800000; 
  transition: width 0.3s ease-out; 
}
.nav-link-maroon-hover:hover::after,
.nav-link-maroon-hover.active::after {
  width: 100%; 
}
.image-wrapper {
  width: 100%;
  height: 300px;
  overflow: hidden; 
}

.image-wrapper-widget {
  width: 100%;
  height: 110px;
  overflow: hidden; 
}
.image-wrapper-sub {
  width: 100%;
  height: 200px;
  overflow: hidden; 
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.img-cover:hover, {
  transform: scale(1.1); 
}
.text-widget {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 300px; 
}
.smaller {font-size: 12px;}
.icon {font-size: 20px;}
.logo { object-fit:cover;}
.tocus {padding: 30px;}
img , iframe  {max-width:100%;}

/* Mobile */
@media (max-width: 600px) {
  .desktop {
    display: none;
  }
  .image-wrapper-post {
  width: 100%;
  height: 300px;
  overflow: hidden; 
}
}


/* DEsktop */
@media (min-width: 601px) {
  .mobile {
    display: none;
  }
  img,iframe {max-width:100%;}
  .s2 {margin-top: -30px;}
  .s3 {margin-top: 12px;}
  .s4 {margin-top:-15px;}
  .s33 {margin-top: 2px;}
  .border-widget-end {
	  border-right: 1px solid;
  }
  .border-widget-top {
	  border-top: 1px solid;
  }
  .border-widget-top-post {
	  border-top: 1px solid;
  }
  .image-wrapper-post {
  width: 100%;
  height: 600px;
  overflow: hidden; 
}
.content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 15px auto;
    padding: 15px 0;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-radius: 0px;
}
}