---
eleventyComputed:
  title: "{{wordpress.config.authors_title}}"
  description: "{{wordpress.config.authors_description}}"
permalink: /authors/
layout: base.njk
eleventyNavigation:
  key: Authors
  order: 5
---
<div class="container">
<div class="col-md-10 mx-auto mt-5 p-3 mb-5">
<h1 class="text-center mt-3">{{wordpress.config.authors_title}}</h1>
<h2 class="text-center lead">{{wordpress.config.authors_description}}</h2>
{% if collections.authors and collections.authors.length > 0 %}
{% set sortedAuthors = collections.authors | sortAlphabetically('name') %}
<div class="row justify-content-center text-center">
{% for author in sortedAuthors %}
{% set authorUrl = "/author/" + author.slug + "/" %}
<div class="col-md-4 p-1 mt-3 mb-3">
  <div class="p-1 borderio">
    <div class="rounded-3 p-3 border border-dark">
{% if author.profile_picture %}<a href="{{ authorUrl }}" title="{{author.name}}">
  <img width="50%" height="50%" class="'img-fluid rounded-circle mb-3" alt="{{author.name}}" src="{{author.profile_picture}}"/></a>{% endif %}
<di class="p-3">
<a href="{{ authorUrl }}" class="none" title="{{author.name}}">
<h3>{{ author.name }} </h3>
<p>{{author.description}}</p>
</a>
<p><span class="badge text-bg-dark rounded">{{ author.posts.length }} Post</span></p>
</div>
</di>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p>Nothing author posts.</p>
{% endif %}
</div>
</div>

