---
eleventyComputed:
  title: "{{wordpress.config.blog_title}}"
  description: "{{wordpress.config.blog_description}}"
pagination:
  data: wordpress.posts
  size: 5
  alias: posts
  reverse: true
layout: "base.njk"
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}"
tags: blog_list
---
<div class="container">
  <div class="row">
<div class="col-md-10 mt-5 mb-3 mx-auto p-3 text-center">
  <h1><a href="{{page.url}}">{{wordpress.config.blog_title}}</a></h1>
  <h2 class="lead">{{wordpress.config.blog_description}}</h2>
</div>
{% for post in posts %}
<article class="col-md-4 mb-3 ">
<div class="p-1 borderio">
<div class="rounded-3 border border-dark">
<div class="image-wrapper-sub rounded-top-3">
<a href="/post/{{ post.slug }}/"><img class="img-fluid img-cover rounded-top-3" width="100%" height="100%" 
alt="{{post.title}}"
src="{{post.featuredImage or wordpress.config.image }}"/></a>
</div>
<div class="p-3 border-dark border-bottom">
<h3 class="fw-semibold normal">
<a href="/post/{{post.slug}}/" class="text-dark">{{post.title}}</a>
</h3>
</div>
<p class="row text-secondary mb-0 p-3">
<span class="col-7"> 
{{ post.category_names[0] | default('Kategori') }}
</span>
<span class="col-5 text-end"> 
{{ post.date | readableDate }}
</span>
</p>
</div>
</div>
</article>
{% endfor %}
<div class="col-md-10 mx-auto p-3 mb-5">
<nav aria-label="Pagination">
  <div class="row p-3">
    <div class="col-md-6">
    {% if pagination.href.previous %}
      <a href="{{ pagination.href.previous }}">← Prev</a>
    {% endif %}
    </div>
    <div class="col-md-6 text-end">
    {% if pagination.href.next %}
      <a href="{{ pagination.href.next }}">Next →</a>
    {% endif %}
    </div>
  </div>
</nav>
</div>

  </div>
</div>
