---
pagination:
  data: pages
  size: 1
  alias: page
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
eleventyComputed:
  permalinkBypassOutputDir: true 
  permalink: "/{{ page.slug }}/"
  title: "{{ page.title }}"
layout: base.njk
---
<div  class="container">
<div class="col-md-12 border-dark border-bottom p-3 mt-3">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{wordpress.config.url}}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
  </ol>
</nav>
</div>
</div>
<header class="container">
<div class="col-md-12 p-3 mt-2 mb-5 border-dark  border-bottom">
<h1 class="fw-semibold mt-3"><a href="{{page.url}}" class="none">
{{page.title}}
</a></h1>
</div>
</header>
{% if page.featuredImage %}
<section class="container">
<div class="rounded-3 border border-dark">
<div class="image-wrapper-post rounded-3">
<img class="img-fluid img-cover rounded-3" width="100%" height="100%" 
alt="{{page.title}}"
src="{{page.featuredImage}}"/>
</div>
</div>
</section>
{% endif %}
<section class="container mt-3 mb-0">
<div class="row p-3 ">
<article class="col-md-10 mx-auto p-0">
<div class="p-3">
<p class="mb-0">
<span class="text-secondary">{{ page.date | default(null) | readableDate("dd MMMM yyyy") }}</span>
</p>
</div>
<div class="p-3 border-widget-top">
<div class="row p-2">
<content class="content col-md-12 mb-3 mt-3 normal">
{% set contentWithIDs = page.content | default('') | addHeadingIDs %}
<content class="content col-md-12 mb-5 mt-3 normal">
{% if wordpress.config.widget_show_toc %}<div class="border border-dark rounded-3 mb-5 tocus">
<h3>{{wordpress.config.widget_toc}}</h3>
{{ contentWithIDs | toc | safe }} 
</div>{% endif %}
<heading-anchor>
{{ contentWithIDs | safe }}
</heading-anchor>
</content>
</div>
</div>
</article>
</div>
</section>
