---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">

{% set baseUrl = wordpress.config.url or metadata.url %}

{%- for item in collections.all %}

    {# Gunakan item, bukan page, agar lebih fleksibel #}
    {% set url_path = item.url | url %}
    
    {# 1. HANYA SERTAKAN ITEM YANG MEMILIKI URL VALID #}
    {# Item dengan url: false (seperti data mentah) akan diabaikan #}
    {% if url_path %}
    
        {# 2. HANYA SERTAKAN FILE HTML/FOLDER DAN EXCLUDE ELEVENTY INTERNAL #}
        {# Pastikan item ini bukan halaman internal yang dikecualikan (sitemap.xml sendiri, dll) #}
        {% if not item.data.eleventyExcludeFromCollections %}
            
            {# 3. FILTER UNTUK URL YANG BENAR (berakhir dengan / atau .html) #}
            {% if url_path.slice(-1) === '/' or url_path.endsWith('.html') %}
            
            <url>
                <loc>{{ baseUrl }}{{ url_path }}</loc>
                
                {# Gunakan tanggal terbaru dari page.date #}
                <lastmod>{{ item.date | htmlDateString }}</lastmod> 
            </url>
            
            {% endif %}
        {% endif %}
    {% endif %}
{%- endfor %}

</urlset>