---
pagination:
  data: collections.tags  
  size: 1
  alias: tag              
  addAllPagesToCollections: true
eleventyExcludeFromCollections: false
eleventyComputed:
  permalink: "tags/{{ tag.slug }}/index.html" 
  title: "Tag: {{ tag.name }}"
  description: "List of Tags {{ tag.name }}"
layout: base.njk
---
<div class="container">
<div class="col-md-8 mx-auto text-center mt-5 mb-4">
<h1 class="mb-0"><a href="{{page.url}}" class="none">{{ tag.name }}</a></h1>
<h2 class="lead">{{tag.description}}</h2>
</div>
</div>   
</div>
<article class="container">
<div class="row">
{% for post in tag.posts %}
<article class="col-md-4 mb-3 ">
<div class="p-1 borderio">
<div class="rounded-3 border border-dark">
<div class="image-wrapper-sub rounded-top-3">
<a href="/post/{{ post.slug }}/"><img class="img-fluid img-cover rounded-top-3" width="100%" height="100%" 
alt="{{post.title}}"
src="{{post.featuredImage or wordpress.config.image }}"/></a>
</div>
<div class="p-3 border-dark border-bottom">
<h3 class="fw-semibold normal">
<a href="/post/{{post.slug}}/" class="text-dark">{{post.title}}</a>
</h3>
</div>
<p class="row text-secondary mb-0 p-3">
<span class="col-7"> 
{{ post.category_names[0] | default('Kategori') }}
</span>
<span class="col-5 text-end"> 
{{ post.date | readableDate }}
</span>
</p>
</div>
</div>
</article>
{% endfor %}
<p class="col-md-10 mx-auto p-3 text-center mb-5">
<a href="/tags/" class="btn btn-outline-dark">Explore All Tags</a>
</p>
</div>
</div>
</article>