<footer class="text-center py-5">
    <div class="container">
        <p class="small">
            {{ metadata.footer.text }}
        </p>
        <p class="small fw-bold border-top border-secondary pt-3 d-inline-block text-uppercase" 
           style="letter-spacing: 2px; color: #666;">
            <a href="{{metadata.url}}" class="text-white" >{{ metadata.footer.info }}</a>
            <br/>
            <small>
                built with <a class="text-white" href="https://11ty.dev" target="_blank">{{ eleventy.generator }}</a> 
                | managed by <a class="text-white" href="https://adamdjbrett.com" target="_blank">Adam DJ Brett</a>
            </small>
        </p>
    </div>
</footer>