<header class="container">
<div class="col-md-12 p-3 mt-3 border-dark  border-bottom">
<h1 class="fw-semibold lead mt-3">
<a href="{{wordpress.config.url}}" class="none">{{wordpress.config.hero_title}}</a>
<span class="float-end">
<a href="{{wordpress.config.hero_url}}" class="none">{{wordpress.config.hero_text}}</a>
</span>
</a></h1>
</div>
</header>